{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news.title }} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <header class="header">
    <div class="logo">
        <a href="{% url 'home' %}">
                <img class="log" src="{% static 'imgs/logo9.png' %}" style="width: 40px" alt="Логотип">
            </a>
    </div>
    <nav class="nav" id="nav-menu">
        
        
       
        <div class="dropdown">
            <a href="#" class="dropdown-toggle">Абитуриенту</a>
            <div class="dropdown-menu">
                <a href="{% url 'student' %}">Как поступить</a>
                <a href="{% url 'specialties'%}">Специальности</a>
            </div>
        </div>
         <div class="dropdown">
            <a href="#" class="dropdown-toggle">Студенту</a>
            <div class="dropdown-menu">
                <a href="{% url 'raspisanie'%}">Расписание</a>
                <a href="{% url 'rules'%}">Правила внутренного распорядка</a>
                <a href="{% url 'student_parliament'%}">Студенческий парламент</a>
            </div>
        </div>
         <div class="dropdown">
            <a href="#" class="dropdown-toggle">Колледж</a>
            <div class="dropdown-menu">
                <a href="{% url 'accreditation'%}">Агредация</a>
               
            </div>
        </div>
         <a href="#qyzmetker">Администрация</a>
        <a href="#news">Новости</a>
        <a href="#about">О нас </a>
    </nav>
    <div class="burger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>

    <section class="news-detail">
        <div class="news-hero">
            <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-hero-image">
            <div class="news-hero-content">
                <h1>{{ news.title }}</h1>
                <p class="news-date">{{ news.date|date:"d.m.Y" }}</p>
            </div>
        </div>
        <div class="news-content">
            <div class="news-text">
                <p>{{ news.text }}</p>
                <a href="{% url 'home' %}" class="btn">Вернуться к новостям</a>
            </div>
        </div>
    </section>

     <footer>
      <div class="containerf">
        <div class="footer-left">
           <a href="{% url 'home' %}">
                <img class="log" src="{% static 'imgs/logo9.png' %}" style="width: 40px" alt="Логотип">
            </a>
          <p>{{ about.text1 }}</p>
          <!-- Используем текст из About -->
        </div>
        <div class="footer-center">
          <h3>Контакты</h3>
          <p>{{ footer.address }}</p>
          <p>{{ footer.working_hours }}</p>
          <p>
            <a href="tel:{{ footer.phone }}" class="phone"
              >{{ footer.phone }}</a
            >
          </p>
          <p>
            <a href="mailto:{{ footer.email }}" class="email"
              >{{ footer.email }}</a
            >
          </p>
        </div>
        <div class="footer-right">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.36350282744!2d69.5967332750969!3d42.313445038046886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91e98f30856e5%3A0x1d677fa74ea0d71f!2z0YPQu9C40YbQsCDQotC-0LrQsNC10LLQsCAyNywg0KjRi9C80LrQtdC90YIgMTYwMDAw!5e0!3m2!1sru!2skz!4v1747377458950!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
    </footer>

    <script>
        function toggleMenu() {
            document.querySelector('.nav').classList.toggle('show');
        }
    </script>
</body>
</html>